$headerColor: #fff;

@import "custom/graphiques";
@import "custom/declaration";

header {
  height : 50px;
  background-color: #330066;
  color: $headerColor;

  h1 {
    padding-top: 10px;
    color: $headerColor;
    float: left;
    font-size: 2rem;
  }
  
  nav {
    float: right;
    
    a {
	  padding: 14px 20px 8px 20px;
	  text-align: center;
	  min-width: 100px;
	  font-weight: bold;
	  display: block;
	  color: darken($headerColor, 0%);
	  background-color: transparent;
	  border-bottom: .25rem solid transparent;
	}

    a:hover, a:focus {
	  color: darken($headerColor, 25%);
      border-bottom-color: darken($headerColor, 25%);
    }

	a + a {
	  margin-left: 1rem;
	}

	a.active {
	  color: darken($headerColor, 10%);
	  border-bottom-color: darken($headerColor, 10%);
	}
  }
}
div.Logo_container{

	img{
	margin-left:-200px;
		height:200px;
	}
}


.section {
  vertical-align: middle;
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

  &:nth-child(even) {
    background: rgba(221,221,221,0.25);
  }
}
div.graph_container{
  vertical-align: middle;
  min-height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;

	background: #FFF;
}
h1, h2, h3, h4{
	color:#4C0099;
	  padding-top: 5px;
  	padding-bottom: 5px;
}

div#declarant{

	ul.nav-tabs {

		li a{
	
		}
	
	}
	input,select{
		color:#0080FF;
	}
	div.tab-pane{
		background: #FFF;
		padding: 50px 300px 50px 80px;
		position:relative
		
		
	}
	
	button{
			position:absolute;
			right:40px;
			top:100px; 
			width:200px;
			height:80px;
			border-radius: 0.30rem;
			font-size:2rem;
			background-color:#4C0099;
			
			
	}
	button:hover {
			  background-color:#6600CC;
		      border-bottom-color: darken($headerColor, 25%);
		    }
	textarea{
		height:200px;
	}
}

body {
  .section {
    display: none;
  }
}
body.ready {
  .section {
    display: block;
  }
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}